@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = HttpContextAccessor.HttpContext?.User;
    var isAuthenticated = user?.Identity?.IsAuthenticated ?? false;
    var isModerator = user?.IsInRole("Moderator") ?? false;
    var isAdministrator = user?.IsInRole("Administrator") ?? false;
    var userName = user?.Identity?.Name;
}

 <ul class="navbar-nav">
    @if (isAuthenticated)
    {
        @if (isAdministrator)
        {
            <a class="nav-item" href="/ManageModerators">
                <i class="fas fa-tools"></i>
                <span>Упарвление модераторами</span>
            </a>
        }
        @if (isModerator || isAdministrator)
        {
            <a class="nav-item" href="/Moderation/GetMyModerRequests">
                <i class="fas fa-tools"></i>
                <span>Модерировать</span>
            </a>
        }
        <a class="nav-item" href="/Post/PublishPost">
            <i class="fa fa-upload"></i>
            <span>Написать пост</span>
        </a>
        <a class="nav-item" href="/Asset/UploadAsset">
            <i class="fa fa-upload"></i>
            <span>Загрузить новый ассет</span>
        </a>
        <a class="nav-item" href="/Profile">
            <i class="fas fa-user"></i>
            <span>@userName</span>
        </a>
        <a class="nav-item" href="/Account/Logout">
            <i class="fas fa-sign-out-alt"></i>
            <span>Выйти</span>
        </a>
    }
    else
    {
        <a class="nav-item" href="/Account/Login">
            <i class="fas fa-sign-in-alt"></i>
            <span>Войти</span>
        </a>
        <a class="nav-item" href="/Account/Register">
            <i class="fas fa-user-plus"></i>
            <span>Регистрация</span>
        </a>
    }
</ul>
